<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>{{ title | mititle }}</title>
    <meta name="description" content="{{ description | midescription }}">

    <!-- Open graph meta -->
    <meta property="og:title" content="Mood Indigo | IIT Bombay">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Mood Indigo | IIT Bombay | Asia's Largest College Cultural Festival">
    <meta property="og:url" content="https://moodi.org">
    <meta property="og:image" content="https://moodi.org/images/CTA.jpg" />
    <meta property="fb:app_id" content="463247530794345" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/images/icons/site.webmanifest">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#ffffff">
    <link rel="shortcut icon" href="favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Mood Indigo">
    <meta name="application-name" content="Mood Indigo">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-55628977-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      window.gtagid = 'UA-55628977-7'
      gtag('config', window.gtagid);
    </script>

    <script type="application/ld+json">
        {% include "partials/org_ld.json" %}
    </script>

    <!-- CSS for loading animation -->
    <style>
        {% include "partials/inline.css" %}
    </style>

  </head>
  <body>
      <!-- Loading animation -->
      <div id="white-loader" class="se-pre-con"></div>
      <div id="lottie" class="se-pre-con"></div>

      <!-- CSS and JS -->
      <script src="script.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,900"/>
      <link rel="stylesheet" href="assets/fontello/css/moodi-icons.css" />
      <link rel="stylesheet" href="styles.css" />

      <!-- Sidebar and buttons -->
      <div id="sb-toggle" sidebarjs-toggle>
        <img src="images/hamburger.svg" />
      </div>

      <a class="logo-main" href="/"><img src="images/logo.png" /></a>

      <div class="main-social-buttons need-invert">
        <div class="xunk-social"><i class="icon-facebook"></i></div>
        <div class="xunk-social"><i class="icon-instagram"></i></div>
        <div class="xunk-social"><i class="icon-twitter"></i></div>
        <div class="xunk-social"><i class="icon-linkedin"></i></div>
      </div>

      <div class="mi-top-right-buttons need-invert">
        <div class="xunk-transparent-round">
          <a class="uppercase" href="https://cr.moodi.org" target="_blank">Join Us</a>
        </div>
        <div class="xunk-transparent-round">
          <a class="uppercase" href="/contact">Contact Us</a>
        </div>
      </div>

      <div class="mi-bottom-right-buttons need-invert">
        <div class="xunk-transparent-round">
          <a href="/register" id="mi-bottom-right-register-button" class="uppercase">Register</a>
        </div>
      </div>

      <div sidebarjs>
        <div id="mi-sidebar">
          <div id="mi-sidebar-number"></div>
          <div sidebarjs-toggle class="mi-close-sidebar">
            <img src="images/close-button.svg" />
          </div>
          <div id="mi-sidebar-inner" class="uppercase">
            <div><a href="/">Home</a></div>
            <div><a href="/experience">The Experience</a></div>
            <div><a href="/events">Events</a></div>
            <div><a href="/competitions">Competitions</a></div>
            <div><a href="/accommodation">Accomodation</a></div>
            <div><a href="https://sponsors.moodi.org">Sponsors</a></div>
            <div><a href="/contact">Contact Us</a></div>
          </div>
          <div class="sidebar-footer">
            <div class="xunk-social"><i class="icon-facebook"></i></div>
            <div class="xunk-social"><i class="icon-instagram"></i></div>
            <div class="xunk-social"><i class="icon-twitter"></i></div>
            <div class="xunk-social"><i class="icon-linkedin"></i></div>
            <div class="xunk-transparent-round sidebar-reg-button">
              <a class="uppercase" id="mi-sidebar-reg" href="/register">Register</a>
            </div>
          </div>
        </div>
      </div>

    <div id="barba-wrapper">
      <div class="barba-container">
    <!-- CONTENT HERE -->
{% block content %} {% endblock %}
    <!-- CONTENT TILL HERE -->
      </div>
    </div>
  </body>
</html>
