.se-pre-con {
	position: fixed;
	left: 0px; top: 0px;
	width: 100%; height: 100%;
	z-index: 9999;
	background: rgb(60, 254, 219);
}

.se-pre-con img {
	position: absolute;
	left: 50%; top: 50%;
	height: 23vh;
	transform: translate(-50%, -50%);
	filter: invert(1);
	transition: 0.3s ease;
	animation-name: logo-animation;
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes logo-animation {
    0%   { transform: translate(-50%, -50%) scale(1); }
    50%  { transform: translate(-50%, -50%) scale(1.05); }
	80% { transform: translate(-50%, -50%) scale(1); }
	100%   { transform: translate(-50%, -50%) scale(1); }
}
