/* Loader Animation */
.se-pre-con {
	position: fixed;
	left: 0px; top: 0px;
	width: 100%; height: 100%;
	z-index: 9999;
	background: rgb(60, 254, 219);
	touch-action: none;
}

#white-loader {
	filter: invert(1);
	z-index: 2;
	background: transparent;
	display: none;
	touch-action: auto;
}

@media (max-width: 600px) {
	.se-pre-con {
		transform: scale(2);
	}
}

/* Critical CSS */
.uppercase, .uppercase * {
	text-transform: uppercase;
}

.no-uppercase {
	text-transform: initial;
}
