body {
	line-height: 1;
	color:white;
	font-family: 'Lato', sans-serif;
	height: 100%;
	width: 100%;
}

.full-body {
	height: 100%;
	width: 100%;
	overflow:auto;
	top: 0; left: 0;
	position: absolute;
}

@media (max-width: 900px) { .full-body { position: fixed; } }

.full-iframe {
	height: 99%;
	width: 100%;
	overflow:auto;
}

.invert-colors {
	-webkit-filter: invert(1);
	filter: invert(1);
}

#mi-sidebar-number, .mi-close-sidebar {
	position: relative;
	top: 4px; z-index: 2;
	width: 22px; height: 22px;
}

#mi-sidebar-number {
	float: left;
	font-size: 1.2em;
	margin-left: 30px;
	margin-top: 27px;
	white-space: nowrap;
}

.mi-close-sidebar {
	cursor: pointer;
	float: right;
	margin-right: 30px;
	margin-top: 25px;
	transition: transform 0.3s ease;
}


#sb-toggle {
	position: fixed;
	z-index: 3;
	right: 20px; top: 12px;
	width: 50px; height: 50px;
	cursor: pointer;
	will-change: transform, filter;
	transition: filter 0.5s ease, -webkit-filter 0.5s ease, transform 0.3s ease;
}

.sidebar-footer {
	position: absolute;
	bottom: calc(5% + 5px); left: 8%;
	display: block;
	width: 85%;
}

.xunk-social {
	display: inline-block;
	width: 1.1em; height: 1.1em;
    text-align: center; vertical-align: middle;
	padding: 6px 8px 6px 4px;
    border-radius: 50%;
	background-color: transparent;
	border: 2px white solid;
	margin-right: 1px;
	cursor: pointer;
	color: white;
}

.xunk-social:hover {
	transform: scale(1.05)
}

.xunk-transparent-round {
	display: inline-block;
    border-radius: 20px;
    background-color: transparent;
	width: 8em;
	border: 2px white solid;
	text-align: center;
	transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

.xunk-transparent-round a {
	padding: 0.4em 0.5em;
	white-space: nowrap;
	display: block;
	text-decoration: none;
	color: inherit;
}

.xunk-transparent-round:hover {
	transform: scale(1.03)
}

.sidebar-reg-button {
	position: absolute;
	top: 0; right: 0;
	color: white;
}

#mi-sidebar {
	height: 100%; width: 100%;
	background: linear-gradient(45deg,#ff7300,#f8348c);
	position: relative;
	transform: translateZ(50px);
}

#mi-sidebar-inner {
	width: 80%;
	margin-left: 20%;
	margin-top: 40vh;
	font-size: 1.75em;
	font-family: 'Lato';
	font-weight: 900;
	line-height: 1.2em;
	transform: translateY(-50%);
	position: absolute;
}

#mi-sidebar-inner > div {
	margin-bottom: 0.8em;
}

#mi-sidebar-inner a {
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	max-width: 80%;
}

#mi-sidebar-inner a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2.5px;
	bottom: 0;
	left: 0;
	background-color: white;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

#mi-sidebar-inner a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.mi-counter-container{
    width: 17%;
	display: inline-block;
	justify-content: center;
	vertical-align: middle;
	transform: translateY(72vh);
}

.mi-sidebar-counter {
    width: 100%;
	font-size: 2.5em;
	text-align: center;
}

.counter-head {
	text-align: center;
}

.counter-divider {
	font-size: 2em;
	display: inline-block;
	transform: translateY(72vh);
}

.gshock {
	width: 20%;
	display: block;
	transform: translate(15%,71vh);
}

@media (max-width: 600px) {
	#mi-sidebar-number { display: none; }
	.gshock-container{
		transform: translateX(10%);
	}
	.mi-counter-container{
		transform: translateY(66vh);
		/*transform: translate(30%,66vh);*/
	}

	.mi-sidebar-counter{
		font-size: 2em;
	}
	.counter-divider{
		font-size: 1.5em;
		transform: translateY(66vh);
		/*transform: translate(250%,66vh);*/
	}
	.gshock{
		transform: translate(20%,65vh);
		/*transform: translate(45%,65vh);*/
	}
	#sb-toggle {
		top: 2px; right: 10px;
		width: 40px; height: 40px;
	}

	#mi-sidebar-inner {
		width: 90%;
		margin-left: 10%;
		font-size: 1.5em;
	}
	#mi-sidebar-inner > div {
		margin-bottom: 0.6em;
	}

	.sidebar-reg-button {
		width: 6em;
	}

	.sidebar-footer .xunk-social { font-size: 0.72em; }
	.sidebar-reg-button { font-size: 0.8em; }
	.sidebar-footer {
		bottom: calc(5% + 5px); left: 10%;
		width: 80%;
	}
	.main-social-buttons { display: none; }
}
