{% extends "layout.nunjucks" %}

{% set title="Accommodation" %}

{% block content %}

<style>
  .maindiv {
    color: white;
    background: linear-gradient(50deg,rgb(70, 64,126), rgb(48, 210, 189));
  }

  .acco-siema { height: 100%; }

  .mi-siema-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .mi-acco-title {
    font-size: 5em;
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: 0.7em;
  }

  .mi-acco-left-full {
    position: relative;
    left: 20%;
    width: 90%;
    top: 15%;
    height: 100%;
    overflow: hidden;
  }

  .mi-acco-left {
    position: absolute;
    width: 36%;
    top: 15vh;
  }

  .mi-acco-right {
    position: absolute;
    width: 36%;
    top: 15vh;
    left: 40%;
  }

  .mi-acco-left a, .mi-acco-right a {
    color: lightskyblue;
  }

  .mi-acco-subtitle {
    font-size: 2.2em;
    font-weight: 900;
    font-family: 'Lato';
    margin-bottom: 0.3em;
  }

  .mi-acco-left-content {
    font-family: 'Lato';
    font-size: 1em;
    line-height: 1.3em;
    max-height: 50vh; width: 90%;
  }

  .mi-acco-left-content li {
    margin-left: 1em;
    display: list-item;
    list-style-position: inside;
  }

  .mi-acco-num-template.active {
    background-color: white;
    color: rgb(70, 64,126);
  }

  .exp-img-container {
    height: 60vh;
    position: absolute;
    top: 45%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  span.acco-faq-title {
    font-weight: 900;
  }

  .acco-faqs p {
    margin-bottom: 1em;
  }

  @media (max-width: 900px) {

    .mi-acco-subtitle {
      font-size: 1.5em;
    }

    .mi-acco-left-full {
      top: 5%;
      left: 10%;
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 80vh;
    }

    .mi-acco-title {
      font-size: 1.6em;
    }

    .mi-acco-left {
      position: relative;
      font-size: 0.85em;
      left: 0;
      width: 100%;
      top: 5%;
    }

    .mi-acco-right {
      font-size: 0.85em;
      position: relative;
      left: 0;
      width: 100%;
      top: 10%;
    }

    .mi-acco-left-content {
      max-height: 200000px;
    }
  }

</style>

<div id="acco-siema-next" class="siema-next">
  <img src="images/arrow_right.svg" />
</div>
<div id="acco-siema-prev" class="siema-prev">
  <img src="images/arrow_right.svg" />
</div>

<div class="full-body maindiv">

  <div class="acco-siema">
    <div ga-event="acco">
      <div class="mi-siema-container">
        <div class="mi-acco-left-full">
          <div class="mi-acco-title uppercase">Accommodation</div>
          <div class="mi-acco-left">
            <div class="mi-acco-subtitle uppercase">Policy</div>
            <div data-simplebar class="mi-acco-left-content">
              <div class="sb-cont">
                <p>- Everybody willing to avail accommodation in Mood Indigo must register to get their MI numbers. You can register <a href="/register">here</a>.</p>
                <p>- All participants should contact the Contingent Leader (hereafter, called CL) of their college.The details of CL would be made available to you as soon as the CL is decided.</p>
                <p>- The Registration for CL hasn’t started yet. Keep updated yourself on our Social media platforms to know about the CL application.</p>
                <p>- The CL will be given access to CL interface where they will be allowed to choose students from his/her college for availing accommodation for Mood Indigo. Last date of finalising the contingent would be near November</p>
                <p>- When your contingent arrives at IIT Bombay, you have to come to accommodation desk, Student Activity Center (SAC) along with your college ID card. The CL should have the list of his/her entire contingent with their MI numbers beforehand. Your place of stay will be allotted along with your accommodation booklet. Accommodation would be strictly on shared basis</p>
                <p>- Each student will be given accommodation only after it has been confirmed by the Hospitality Core Group Members through the CL of the respective college</p>
                <p>- Students can avail accommodation facilities from 26th December 8:00 am to 31st December 10:00 am</p>
              </div>
            </div>
          </div>
          <br><br>
          <div class="mi-acco-right">
              <div class="mi-acco-subtitle uppercase">Charges</div>
            <div data-simplebar class="mi-acco-left-content">
                <div class="sb-cont">
                  <p>- Online charges for accommodation : Rs 1800/- (Rs 100/- is refundable)<br>
                    *For maximum of 5 days i.e. from 26th to 30th Dec, 2018 irrespective of duration of stay. Food is not included.
                  </p>
                  <p>- In exceptional circumstances the refund amount may be forfeited subject to one or more of the following conditions:
                    <ol>
                        <li>i) Permanent damage has been done to the room/dorm/accessories where accommodation has been provided.</li>
                        <li>ii) Rooms are not vacated on or before 31st December 10:00 am.</li>
                    </ol>
                  </p>
                  <p>- The payment will be done through the online portal whose link will be given to all the people allotted accommodation in IIT Bombay campus</p>
                  <p>- Deadline for selecting contingent is in month of November and for online payment is last week of November.</p>
                  <p>- Refund has to be collected from accommodation desk, between 8am-10am, 27th December. No refund would be provided after that. Mood Indigo is not liable to refund the amount in case of any mistake made by the person paying the amount</p>
                  <br />
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ga-event="faq">
      <div class="mi-siema-container">
        <div class="mi-acco-left-full">
          <div class="mi-acco-title">FAQs</div>
          <div class="mi-acco-left">
            <div class="mi-acco-subtitle uppercase">How to reach</div>
            <div class="mi-acco-left-content">
              The IITB Campus is located about 10Kms from the Mumbai Domestic Airport. You can hire a taxi or an auto-rickshaw from outside the airport to reach the campus in Powai. You can refer to the FAQ section for further queries.
            </div>

            <br><br>
            <div class="mi-acco-subtitle uppercase">Get Directions</div>
            <div class="mi-acco-left-content">
              Fire up your GPS to get here <a href="https://www.google.co.in/maps/place/Mood+Indigo+Office/@19.1352904,72.9085692,16.17z/data=!4m5!3m4!1s0x3be7b809d403b0e3:0xd70014ec2d69e8ee!8m2!3d19.134884!4d72.913926" target="_blank">https://maps.google.com</a>
            </div>
            <br><br><br>
          </div>
          <div class="mi-acco-right">
            <div data-simplebar class="mi-acco-left-content acco-faqs">
                <p><span class="acco-faq-title">What type of accommodation will be provided?</span><br/>
                Accommodation will be provided to boys and girls in well secured separate residential complexes on the campus of IIT Bombay. The type of accommodation is completely on sharing basis.
                </p>

                <p><span class="acco-faq-title">What is the job of a Contingent Leader?</span><br/>
                CL acts as a representative for all accommodation related query between MI and his college, thus conveying all Mood Indigo information to students of his/her college. The CL is also responsible for applying for accommodation on behalf of the college's students. The CL gets a certificate of appreciation from Mood Indigo, IIT Bombay after completion of his/her duties.
                </p>

                <p><span class="acco-faq-title">What is the procedure for being nominated as the Contingent Leader?</span><br/>
                In order to be nominated as the CL for your college, you need an official letterhead of your college signed by the director/ principal saying that you have been nominated as the Contingent Leader for Mood Indigo 2018. Along with you, names of two other people should also be there who would be the Assistant CL. All three of you must mention your MI number along with your name in the letter. Send a scanned copy of the same to mrigank@moodi.org or himank@moodi.org. All this should be done before October 30, 2018.
                </p>

                <p><span class="acco-faq-title">Does accommodation fee include the food facility as well?</span><br/>
                No,the accommodation charges don’t include food. However, there will be food courts operational during Mood Indigo to cater to the food requirements.
                </p>

                <p><span class="acco-faq-title">When will you confirm my accommodation?</span><br/>
                You first need to register for Mood Indigo and get your MI number. Your accommodation will then be confirmed by the CL in coordination with the Hospitality Core Group members. The confirmation for the same will be communicated to the CL before 5th December.
                </p>

                <p><span class="acco-faq-title">What is the procedure for online payment of accommodation fee?</span><br/>
                Once a particular contingent is finalised by CL and their accommodation is confirmed by Hospitality and PR CGs, each and every person with confirmed accommodation will be given a link to the payment portal where he/she needs to make the payment online. In case an individual wishes to make online payment of some other people in his/her contingent as well, the option for the same would be available.
                </p>

                <p><span class="acco-faq-title">We have no such cultural committee in the college to nominate a CL & we are just a group of 4-5 people coming down to participate at MI 2016. How do we proceed?</span><br/>
                You should nominate a CL/ACL amongst yourselves, get it approved from the college authorities and then proceed in the same manner.
                </p>

                <p><span class="acco-faq-title">We are a group of friends not participating in any of the major competitions and just coming to MI to have fun. Would we be allowed?</span><br/>
                Yes, you can definitely attend MI by registering from your respective college. However, for accommodation you can contact the Hospitality Core Group members and request for accommodation. Accommodation would be confirmed strictly subject to availability.
                </p>

                <p><span class="acco-faq-title">What is the procedure to be followed after we reach IIT Bombay?</span><br/>
                You need to come to the Accommodation Desk, Students Activity Centre (SAC) along with your college identity card. You will be allotted your place of stay on campus and given a registration booklet.
                In case of a big contingent, contingent leader needs to present the ID cards of all the people in his contingent at the accommodation desk along with a list of all the people.
                Accommodation would be strictly on shared basis.
                </p>

                <p><span class="acco-faq-title">I am not travelling with my college contingent and will be arriving separately. What should I do?</span><br/>
                You need to proceed with the registration in a similar way. Irrespective of your time of arrival, your CL will have to register & ensure complete payment of his/her contingent. As your registration at SAC would have been done by your CL you can then contact him/her and directly arrive at your place of stay.
                </p>
                <br />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="mi-acco-indices siema-indices">
    <div class="mi-acco-num-template siema-num-template">1</div>
  </div>

</div>

<script>
  MoodI.miInitAccommodation();
</script>

{% endblock %}
