{% extends "layout.html" %}

{% set title="Accommodation" %}
{% set description="Don't have a stay in Mumbai? We got you covered!" %}
{% set image="https://moodi.org/images/accoCTA.jpg" %}
{% set url="https://moodi.org/accommodation" %}
{% block content %}

<style>
  .maindiv {
    color: white;
    background: linear-gradient(50deg,rgb(70, 64,126), rgb(48, 210, 189));
  }

  .acco-siema { height: 100%; }

  .mi-siema-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .mi-acco-title {
    font-size: 5em;
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: 0.7em;
  }

  .mi-acco-left-full {
    position: relative;
    left: 20%;
    width: 90%;
    top: 15%;
    height: 100%;
    overflow: hidden;
  }

  .mi-acco-left {
    position: absolute;
    width: 36%;
    top: 15vh;
  }

  .mi-acco-center {
    position: absolute;
    width: 72%;
    top: 15vh;
  }

  .mi-acco-right {
    position: absolute;
    width: 36%;
    top: 15vh;
    left: 40%;
  }

  .mi-acco-right1 {
    position: absolute;
    width: 36%;
    top: 15vh;
    left: 40%;
  }

  .mi-acco-left a, .mi-acco-right a, .mi-acco-center a, .mi-acco-right1 a {
    color: lightskyblue;
  }

  .mi-acco-subtitle {
    font-size: 2.2em;
    font-weight: 900;
    font-family: 'Lato';
    margin-bottom: 0.3em;
  }

  .mi-policy-subtitle {
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Lato';
    margin-bottom: 0.3em;
  }
  .mi-acco-left-content {
    font-family: 'Lato';
    font-size: 1em;
    line-height: 1.3em;
    max-height: 50vh; width: 90%;
  }

  .mi-acco-button {
    font-size: 3.5em;
    width: 90%;
    padding: 20px;
    cursor: pointer;
  }
  .mi-acco-left-content li {
    margin-left: 1em;
    display: list-item;
    list-style-position: inside;
  }

  .mi-acco-num-template.active {
    background-color: white;
    color: rgb(70, 64,126);
  }

  .exp-img-container {
    height: 60vh;
    position: absolute;
    top: 45%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  span.acco-faq-title {
    font-weight: 900;
  }

  .acco-faqs p {
    margin-bottom: 1em;
  }

  .acco-faq-items {
    margin-right: 10px;
  }

  .mi-acco-cl-left {
    position: absolute;
    width: 36%;
    border: 2px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
    margin-left: 4px;
  }

  .mi-acco-cl-right {
    position: absolute;
    width: 36%;
    left: 50%;
    border: 2px solid white;
    text-align: center;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer;
  }

  .mi-acco-row {
    height: 8vh;
  }

  .acco-more-info {
    width: 40px;
  }

  .mi-get-acco {
    border:2px solid white;
    border-radius: 25px;
    text-align: center;
    margin-left: 4px;
  }

  .mi-get-acco:hover {
    transform: scale(1.01);
  }

  @media (max-width: 900px) {
    .mi-acco-row{height: 15vh;}
    .mi-acco-subtitle {
      font-size: 1.5em;
    }
    .acco-more-info{
      width: 15px;
    }
    .mi-acco-center {
      width: 100%
    }
    .mi-policy-subtitle{
      font-size: 0.8em;
    }
    .mi-acco-left-full {
      top: 5%;
      left: 10%;
      overflow-x: hidden;
      overflow-y: scroll;
      max-height: 80vh;
    }

    .mi-acco-title {
      font-size: 1.6em;
    }

    .mi-acco-left {
      position: relative;
      font-size: 0.85em;
      left: 0;
      width: 100%;
      top: 5%;
    }

    .mi-acco-right {
      font-size: 0.85em;
      position: relative;
      left: 0;
      width: 100%;
      top: 10%;
    }

    .mi-acco-right1 {
      font-size: 0.85em;
      position: relative;
      left: 0;
      width: 100%;
      top: 0%;
    }
    .mi-acco-left-content {
      max-height: 200000px;
    }

    .mi-acco-button{
      font-size: 1.4em;
      width: 72%;
      padding: 15px;
      cursor: pointer;
    }
  }

</style>

<div class="siema-next acco-siema-next">
  <img src="images/arrow_right.svg" alt="Next" />
</div>
<div id="acco-siema-prev" class="siema-prev">
  <img src="images/arrow_right.svg" alt="Back" />
</div>

<div class="full-body maindiv">

  <div class="acco-siema">

    <!--
    <div ga-event="acco-portal">
      <div class="mi-siema-container">
        <div class="mi-acco-left-full" itemscope itemtype="http://schema.org/WebPage">
          <div class="mi-acco-title uppercase" itemprop="name">Accommodation</div>
          <div class="mi-acco-left">
            <a href="https://moodi.org/reservation" class="plain">
              <div class="mi-acco-button mi-get-acco">Get Accommodation</div>
            </a>

            <br><br>
            <div class="mi-acco-subtitle uppercase">Know Your CL</div>
            <div class="mi-acco-left-content" style="margin-bottom: 10px;">
              Contingent leader takes care of accommodation of all the teams and visitors coming from his/her respective college. Anyone who wants to avail accommodation must contact their Contingent Leader.  There is absolutely no connection between CR and CL.
            </div>
            <div class="mi-acco-row">
              <a href="https://moodi.org/clinfo" class="plain">
                <div class="mi-acco-cl-left xunk-transparent-round">CL Info</div>
              </a>
            </div>
          </div>
          <div class="mi-acco-right1">
              <div class="mi-acco-subtitle uppercase">Mood Indigo in Association with Meluha</div>
            <div data-simplebar class="mi-acco-left-content">
                <div class="sb-cont">
                  <p>A 5 star environmentally responsible hotel with 37 awards to its credit. Meluha The Fern An Ecotel Hotel, in Mumbai is the world's only hotel to have an ecotel certificate and a LEED Gold rating. Located in the heart of Hiranandani Gardens, Powai, and situated in close proximity at a distance of 2kms from IIT Bombay.</p>
                  <p>Offers For Mood Indigo Visitor:<br><br>
                     Rooms starting at INR 7499 plus taxes per room per night
                  </p><br>
                  <p>
                      <span class="acco-faq-title" itemprop="text">Inclusions:</span><br>
                      <ul>
                        <li>-Accommodation in our well-appointed rooms & suites, as applicable</li>
                        <li>-Complimentary buffet breakfast daily at Tiara restaurant</li>
                        <li>-Two bottles of packaged drinking water in-room, replenished daily</li>
                        <li>-Tea/coffee maker and daily newspaper in all rooms</li>
                        <li>-Complimentary In-Room Wi-Fi</li>
                        <li>-Complimentary usage of hotel’s Swimming Pool and Fitness Centre</li>
                        <li>-Access to Club Lounge (Only on booking Fern Club Room & Suites)</li>
                        <li>-20% Discount on F&B (Except Alcoholic Beverage)</li>
                        <li>-20% Discount on Laundry </li>
                      </ul>
                      To avail the offer, share your requirement on the below co-ordinates with Promo Code : MoodInd_Fern
                  </p>
                  <p>
                    Email:<a href="mailto:salesinfo@rodashotel.com">salesinfo@rodashotel.com</a><br>
                    For Reservations Or Enquiries Call<br>
                    Telephone: +91-22-25755543 / 66936903
                  </p>
                  <br />
                  <img src="/images/meluha.png" style="width: 95%;">
                  <img src="/images/meluhamaps.png" style="width: 95%;margin-top: 15px;">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->

    <div ga-event="acco">
      <div class="mi-siema-container">
        <div class="mi-acco-left-full">
          <div class="mi-acco-title uppercase">Accommodation</div>
          <div class="mi-acco-left">
            <div class="mi-acco-subtitle uppercase">Policy</div>
            <div data-simplebar class="mi-acco-left-content">
              <div class="sb-cont">
                <p>For the convenience of the enthusiastic participants of Mood Indigo, we here in the Hospitality
Department of MI take it upon ourselves to provide you with a convenient stay place within the Institute itself. Owing to the huge scale of participation, we have established a set of procedural guidelines to help make the process seamless and without glitches</p> <br>
                <p>Let's now walk you through them step wise</p><br>
                <div class="mi-policy-subtitle">How To Avail</div>
                <p>- Everybody willing to avail accommodation in Mood Indigo must register to get their MI numbers. You can register <a href="/register">here</a>.</p>
                <p>- All participants have to contact the Contingent Leader (hereafter referred to as ‘CL’ for convenience) of their college; the details of whom would be made available to you once the CL is decided.</p>
                <p>- The registration for Contingent Leader has started. You can register yourself at <a href="https://moodi.org/cl">the CL portal</a>.</p>
                <p>- The CL will be given access to CL interface where they will be allowed to choose students from his/her college for availing accommodation for Mood Indigo. Last date of finalising the contingent would be near November</p>
                <p>- CL will have to finalise the contingent before the given deadline and within the allotted contingent limit.
</p><br>
                <div class="mi-policy-subtitle">On arrival</div>
                <p>- You must first head to the Accommodation Desk in the Student Activity Center, (fondly and famously known as ‘SAC’) along with your college ID card.</p>
                <p>Your CL must have the list of his/her entire contingent with their MI numbers beforehand, which he/she has to produce at the desk.</p>
                <p>- Each student will be given accommodation only after it has been confirmed by the Hospitality Core Group Members through the CL of the respective college</p>
                <p>- After that, you will be allotted your place of stay, and will be provided with your accommodation booklet.</p><br>
                <div class="mi-policy-subtitle">All About CL</div>
                <p>- A Contingent Leader is selected from each and every college who will guide you through the accommodation process during your stay at IIT Bombay. He/She will bridge the gap between you and Mood Indigo. In order to be nominated as the CL for your college, you need an Official Letter on the letterhead of your college signed by the Director/Principal saying that you have been nominated as the Contingent Leader for Mood Indigo 2018. Along with this we may also need your other details including account details.
                </p>
                <p>- Application form for being a CL of your college will be out soon. Please stay tune on our Fb page and website for further information.
                </p>
                <p>- In addition to this, two other people are to be appointed as the Assistant CL. All three of you must mention your MI number along with your name in this letter.</p><br>

                <div class="mi-policy-subtitle">Things to remember</div>
                <p>- Owing to a large number of requests for accommodation, we are bound to provide it strictly on a shared basis.</p>
                <p>- You will be given accommodation only after it has been confirmed by the Hospitality Core Group members of the festival, through the CL of your college.</p>
              </div>
            </div>
          </div>
          <br><br>
          <div class="mi-acco-right">
              <div class="mi-acco-subtitle uppercase">Charges</div>
            <div data-simplebar class="mi-acco-left-content">
                <div class="sb-cont">
                  <p>- Online charges for accommodation : Rs 1800/- (Rs 100/- is refundable)<br>
                    *For maximum of 5 days i.e. from 26th to 30th Dec, 2018 irrespective of duration of stay. Food is not included.
                  </p>
                  <p>- In exceptional circumstances the refund amount may be forfeited subject to one or more of the following conditions:
                    <ol>
                        <li>i) Permanent damage has been done to the room/dorm/accessories where accommodation has been provided.</li>
                        <li>ii) Rooms are not vacated on or before 31st December 10:00 am.</li>
                    </ol>
                  </p>
                  <p>- The payment will be done through the online portal whose link will be given to all the people allotted accommodation in IIT Bombay campus</p>
                  <p>- Deadline for selecting contingent is in month of November and for online payment is last week of November.</p>
                  <p>- Refund has to be collected from accommodation desk, between 8am-10am, 31st December 9AM to 1PM. No refund would be provided after that. Mood Indigo is not liable to refund the amount in case of any mistake made by the person paying the amount</p>
                  <br />
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ga-event="faq">
      <div class="mi-siema-container">
        <div class="mi-acco-left-full" itemscope itemtype="http://schema.org/WebPage http://schema.org/FAQPage">
          <div class="mi-acco-title" itemprop="name">FAQs</div>
          <div class="mi-acco-left">
            <div class="mi-acco-subtitle uppercase">How to reach</div>
            <div class="mi-acco-left-content">
              The IITB Campus is located about 10Kms from the Mumbai Domestic Airport. You can hire a taxi or an auto-rickshaw from outside the airport to reach the campus in Powai. You can refer to the FAQ section for further queries.
            </div>

            <br><br>
            <div class="mi-acco-subtitle uppercase">Get Directions</div>
            <div class="mi-acco-left-content">
              Fire up your GPS to get here <a href="https://www.google.co.in/maps/place/Mood+Indigo+Office/@19.1352904,72.9085692,16.17z/data=!4m5!3m4!1s0x3be7b809d403b0e3:0xd70014ec2d69e8ee!8m2!3d19.134884!4d72.913926" target="_blank">https://maps.google.com</a>
            </div>
            <br><br><br>
          </div>
          <div class="mi-acco-right">
            <div data-simplebar class="mi-acco-left-content acco-faqs">
              <div class="acco-faq-items">
                {% for faq in acco_faqs %}
                  <div itemscope itemtype="http://schema.org/Question" itemprop="hasPart">
                    <p class="acco-faq-item">
                      <span style="display:none" itemprop="name">{{ faq.q }}</span>
                      <span class="acco-faq-title" itemprop="text">{{ faq.q }}</span><br />
                      <span class="nodiv" itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer">
                        <span class="acco-faq-answer" itemprop="text">{{ faq.a }}</span>
                      </span>
                    </p>
                  </div>
                {% endfor %}
              </div>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="mi-acco-indices siema-indices">
    <div class="mi-acco-num-template siema-num-template">1</div>
  </div>

</div>

<script>
  MoodI.miInitAccommodation();
</script>

{% endblock %}
