{% extends "layout.html" %}

{% set title="Accommodations" %}
{% set description="Register for Mood Indigo 2018 to witness the grandness in December." %}
{% set image="https://moodi.org/images/accoCTA.jpg" %}

{% block content %}

<style>
    #compi-iframe-container {
        background: linear-gradient(248deg, #14d0fd, #22c0fd);
    }
</style>

<div id="compi-iframe-container" class="full-body">
    <iframe id="reg-iframe" class="full-iframe opacity-fadein" allowtransparency="true"></iframe>
</div>

<script>
    MoodI.initIFrameSub("#reg-iframe", "https://clinfo.moodi.org/clinfo");
</script>

{% endblock %}
