{% extends "layout.nunjucks" %}

{% block content %}
<style>
    #compi-iframe-container {
        background-image: url('/images/compi-back.png'), linear-gradient(248deg, #14d0fd, #22c0fd);
        background-position: bottom;
        background-size: 60%, 100%;
        background-repeat: no-repeat;
    }

    @media (max-width: 900px) {
        #compi-iframe-container {
            background: linear-gradient(248deg, #14d0fd, #22c0fd);
            background-size: unset;
        }
    }
</style>

<div id="compi-iframe-container" class="full-body">
    <iframe id="compi-iframe" class="full-iframe" allowtransparency="true"></iframe>
</div>

<script>
    MoodI.initIFrameSub("#compi-iframe", "https://compi.moodi.org/");
</script>

{% endblock %}
