{% extends "layout.html" %}

{% set title="Events" %}
{% set description="We host 210+ events, including international artists, concerts and informal games." %}

{% block content %}
<style>
  .maindiv {
    color: white;
    background: linear-gradient(50deg,#ff0e48,#e99787);
  }
  #round {
    border-radius: 50%;
  }
  .evt-siema { height: 100%; }
  .mi-siema-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  .mi-evt-title {
    font-size: 5em;
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: 0.7em;
  }
  .mi-evt-link{
    text-decoration: none !important;
    color: white;
    font-weight: 900;
  }
  .mi-evt-left {
    position: absolute;
    right: 50%;
    width: 35%;
    top: 20%;
    z-index: 1;
  }
  .mi-evt-right {
    position: absolute;
    left: 50%;
    width: 40%;
    top: 20%;
    height: 80%;
  }
  .mi-evt-left-content {
    font-family: 'Lato';
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .mi-evt-right-img {
    z-index: -2;
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .mi-evt-num-template.active {
    background-color: white;
    color: #ff0e48;
  }
  .exp-img-container {
    height: 60vh;
    position: absolute;
    top: 45%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .sb-cont h2 { font-size: 2.0em; font-weight: 900; display: inline; }
  .sb-cont h3 { font-size: 1.3em; font-weight: 900; }
  .mi-evt-right-content {
    position: absolute;
    right: 0;
    width: 90%;
    height: 60vh; overflow-x: hidden;
    font-size: 1.1em; line-height: 1.2em;
  }
  .mi-evt-right-content p {
    margin-top: 0.3em;
    margin-bottom: 1em;
    margin-right: 0.4em;
  }
  .button-right{
    padding: 5px;
    border: 2px solid white;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
  }
  .mi-evt-img{
    width: 65%;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
  @media (max-width: 1200px) {
    .mi-evt-title { font-size: 3.8em; }
  }
  @media (max-width: 600px) {
    .mi-evt-title { font-size: 2.7em; }
    .sb-cont h2 { font-size: 1.6em; }
    .sb-cont h3 { line-height: 1.1em; }
    .mi-evt-left {
      font-size: 0.85em;
      left: 4%;
      width: 80%;
      top: 7vh;
      padding: 20px;
      padding-top: 5px;
      height: calc(90vh - 70px);
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .mi-evt-right {
      position: absolute;
      left: 10%;
      width: 90%;
      top: 10%;
      height: 90%;
    }
    .mi-evt-right-content {
      margin-top: 2em;
      font-size: 1em;
      position: relative;
      right: unset;
      height: auto;
      width: auto;
    }
    .mi-evt-right-content p { margin-right: 0; }
  }
</style>

<div id="evt-siema-next" class="siema-next">
  <img src="images/arrow_right.svg" alt="Next" />
</div>
<div id="evt-siema-prev" class="siema-prev">
  <img src="images/arrow_right.svg" alt="Back" />
</div>

<div class="full-body maindiv">
  <div class="evt-siema">
    <div ga-event="horizons">
      <div class="mi-siema-container">
        <div class="mi-evt-left">
          <h1 class="mi-evt-title uppercase">Proshows</h1>
          <p class="mi-evt-left-content">Proshows and Workshops is devoted to creating an unforgettable experience for all the visitors, by presenting the best showcases and provides a massive platform for global cultural exchange. Dive into the sea of music and dance, make an expedition to the highest peaks of literature and poetry, take a voyage to the horizons of theater and what not, the profusion of events that we provide would take you to infinity and beyond. Also get a real life experience of all these artforms at the professional workshops conducted throughout the 4 days.</p>
        </div>

        <div class="mi-evt-right">

          <div data-simplebar class="mi-evt-right-content t-proshows">
            <div class="sb-cont">
              <p><h2 class="uppercase">Genres</h2></p>
                {% for genre in depts.Proshows %}
                <p class="mi-gen-right-para">
                  <h3>{{genre.name}}</h3>
                  {{genre.description}}
                  {% if genre.events|length %}
                    <div class="button-right t-button" data-open={{genre.name}} data-close="proshows">View Lineup</div>
                  {% endif %}
                </p>
                {% endfor %}
            </div>
          </div>
          {% for genre in depts.Proshows %}
          <div data-simplebar class="mi-evt-right-content t-{{genre.name}}" style="display: none;">

            <div class="sb-cont">
              <p>
                <!--div class="button-right" id="round">&#8249;</div-->
                <h2 class="uppercase">{{genre.name}}</h2>
                <div class="button-right t-button" data-open="proshows" data-close={{genre.name}}>&#8249; Go Back</div>
              </p>
              {% for event in genre.events %}
                <p class="mi-gen-right-para">
                  <h3>{{event.name}}</h3>
                  {% if (event.image | filexists) %}
                    <img class="mi-evt-img" src={{event.image}}>
                  {% endif %}
                  <p>{{event.description}}</p>
                  {% if genre.name=="Workshops" %}
                    <form>
                      Name:<br>
                      <input type="text" name="name" style="border-radius: 25px;
                        margin-bottom: 5px;
                      " class="form-{{event.name}}">
                      <br>
                      Phone Number(10-digits):<br>
                      <input id="form" data={{event.name}} type="text" name="mobile_number" style="
                      border-radius: 25px;
                      margin-bottom: 5px;
                      " class="form-
                      {{event.name}}"><br>
                      <div class="button-right form" style="width: 25%;" data={{event.name}}>Submit</div>
                    </form>
                    <span id={{event.name}}></span>
                  {% endif %}
                  {% if event.link %}
                    Check Them Out - <a class="mi-evt-link" href={{event.link}}>{{event.link}}</a>
                  {% endif %}
                </p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <img class="mi-evt-right-img" src="images/horizons.png" alt="Horizons" />
        </div>
      </div>
    </div>

    <div ga-event="concerts">
      <div class="mi-siema-container">
        <div class="mi-evt-left">
          <h1 class="mi-evt-title uppercase">Concerts</h1>
          <p class="mi-evt-left-content">
              As the flagship event of Mood Indigo that culminates each day of the festival, Pronites stands for three principles: exclusivity, uniqueness, and spectacle. From critically acclaimed prog acts like Porcupine Tree and Haken, to chartbusters like Shankar Ehsaan Loy and Amit Trivedi, to musical maestros like Zakir Hussain and Karsh Kale; Mood Indigo's concerts truly have it all.
              <br><br>
              With state-of-the-art production, a rock-solid reputation in the Indian music industry, a drive to feature upcoming Indian talent through the Livewire initiative; and a history of featuring the most exclusive international acts, Mood Indigo has established itself as India's premier stage: a stalwart to industry titans, and an aspiration for upcoming artists.
          </p>
        </div>

        <div class="mi-evt-right">

          <div data-simplebar class="mi-evt-right-content t-concerts">
            <div class="sb-cont">
              <p><h2 class="uppercase">Genres</h2></p>
                {% for genre in depts.Concerts %}
                <p class="mi-gen-right-para">
                  <h3>{{genre.name}}</h3>
                  {{genre.description}}
                  {% if genre.events|length %}
                    <div class="button-right t-button" data-open={{genre.name}} data-close="concerts">View Lineup</div>
                  {% endif %}
                </p>
                {% endfor %}
            </div>
          </div>
          {% for genre in depts.Concerts %}
          <div data-simplebar class="mi-evt-right-content t-{{genre.name}}" style="display: none;">

            <div class="sb-cont">
              <p>
                <!--div class="button-right" id="round">&#8249;</div-->
                <h2 class="uppercase">{{genre.name}}</h2>
                <div class="button-right t-button" data-open="concerts" data-close={{genre.name}}>&#8249; Go Back</div>
              </p>
              {% for event in genre.events %}
                <p class="mi-gen-right-para">
                  <h3>{{event.name}}</h3>
                  {% if (event.image | filexists) %}
                    <img class="mi-evt-img" src={{event.image}}>
                  {% endif %}
                  <p>{{event.description}}</p>
                </p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <img class="mi-evt-right-img" src="images/pronites.png" alt="Concerts" />
        </div>
      </div>
    </div>

    <div ga-event="informals">
      <div class="mi-siema-container">
        <div class="mi-evt-left">
          <h1 class="mi-evt-title uppercase">Informals, Streets &amp; Lounges</h1>
          <p class="mi-evt-left-content">
              Spontaneous and unconventional are the perfect words to describe this part of Mood Indigo.
              <br>
              A flamboyant touch of spontaneity and vast entertainment awaits your entry to the 550-acres of merriment!
              <br>
              We’ve got something up our sleeve for you, no matter who you are; we're here to celebrate your craziness, so let your wild side loose, and join in the fun! To be launched soon! Stay tuned to our FB page for more
          </p>
        </div>

        <div class="mi-evt-right">
          <div data-simplebar class="mi-evt-right-content t-informals">
            <div class="sb-cont">
              <p><h2 class="uppercase">Genres</h2></p>
                {% for genre in depts.Informals %}
                <p class="mi-gen-right-para">
                  <h3>{{genre.name}}</h3>
                  {{genre.description}}
                  {% if genre.events|length %}
                    <div class="button-right t-button" data-open={{genre.name}} data-close="informals">View Lineup</div>
                  {% endif %}
                </p>
                {% endfor %}
            </div>
          </div>

          {% for genre in depts.Informals %}
          <div data-simplebar class="mi-evt-right-content t-{{genre.name}}" style="display: none;">

            <div class="sb-cont">
              <p>
                <!--div class="button-right" id="round">&#8249;</div-->
                <h2 class="uppercase">{{genre.name}}</h2>
                <div class="button-right t-button" data-open="informals" data-close={{genre.name}}>&#8249; Go Back</div>
              </p>
              {% for event in genre.events %}
                <p class="mi-gen-right-para">
                  <h3>{{event.name}}</h3>
                  {% if (event.image | filexists) %}
                    <img class="mi-evt-img" src={{event.image}}>
                  {% endif %}
                  <p>{{event.description}}</p>
                </p>
              {% endfor %}
            </div>
          </div>
          {% endfor %}
          <img class="mi-evt-right-img" src="images/informals.png" alt="Informals" />
        </div>
      </div>
    </div>
  </div>

  <div class="mi-evt-indices siema-indices">
    <div class="mi-evt-num-template siema-num-template">1</div>
  </div>
</div>

<script>
  MoodI.miInitEvents();
</script>

{% endblock %}