{% extends "layout.nunjucks" %}

{% block title %}The Experience | Mood Indigo | IIT Bombay{% endblock %}

{% block content %}

<style>
  .maindiv {
    color: white;
    background: linear-gradient(235deg,#15d1fe,#22c0fd);
  }

  .exp-siema { height: 100%; }

  #mi-exp-video {
    position: fixed; width: 100%; height: 100%;
    object-fit: cover;
  }

  .mi-siema-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .mi-exp-title {
    color: #eeeeee;
    font-size: 4em;
    font-family: 'Lato';
    font-weight: 900;
    margin-bottom: 0.7em;
    position: absolute; top: 50%; left: 15%;
    z-index: 1;
    mix-blend-mode:color-dodge;
  }

  .mi-exp-indices {
    position:fixed; bottom:13%; left: 50%;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1;
  }

  .mi-exp-num-template.active {
    background-color: white;
    color: #15d1fe;
  }

  .exp-img-container {
    height: 60vh;
    position: absolute;
    top: 45%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  .exp-img { height: 50vh; }
  .exp-desc {
    font-size: 1em;
    }

  @media (max-width: 900px) {
    .exp-img { max-width: 95%; object-fit: cover; }

    .mi-exp-title {
      top: 6%; left: 3%;
      white-space: nowrap;
      font-size: 1.8em;
    }

    .exp-desc {
      font-size: 1em;
      width: 80vw;
      display: inline-block;
    }

    .mi-exp-num-template {
      margin: 3px 7px;
      width: 1.1em; height: 1.1em;
      padding: 5px;
    }

    .mi-exp-indices {
      bottom: 7px;
    }
  }

</style>

<div id="exp-siema-next" class="siema-next">
  <img src="images/arrow_right.svg" />
</div>
<div id="exp-siema-prev" class="siema-prev">
  <img src="images/arrow_right.svg" />
</div>

<div class="mi-exp-title uppercase">The Experience</div>

<div class="full-body maindiv">
    <video autoplay muted loop id="mi-exp-video">
      <source src="/images/experience.mp4" type="video/mp4">
    </video>

    <div class="exp-siema">
      <div class="mi-exp-template">
        <div class="mi-siema-container">
          <div class="exp-img-container">
            <img class="exp-img" />
            <br /> <br />
            <span class="exp-desc"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="mi-exp-indices siema-indices">
      <div class="mi-exp-num-template siema-num-template"></div>
    </div>
</div>

<script>
  MoodI.miInitExperience();
</script>

{% endblock %}
