{% extends "layout.nunjucks" %}

{% block content %}

<style>
  .maindiv {
    color: white;
    background: rgb(142, 143, 191) url('images/bd_sponsors.png');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .mi-spon-container {
    position: absolute;
    top: 15%;
    left: 18%;
  }

  .mi-spon-title { font-size: 6em; font-weight: 900; }
  .mi-spon-subtitle { font-size: 3em; font-weight: 900; }
  .mi-spon-content { width: 40%; line-height: 1.3em; font-size: 1.1em; }
  .mi-spon-content a { color: white; }

  @media (max-width: 1200px) {
    .mi-spon-content { width: 80%; }
  }

  @media (max-width: 900px) {
    .mi-spon-container { top: 8%; left: 5%; }
    .mi-spon-title { font-size: 2.7em; }
    .mi-spon-subtitle { font-size: 1.4em; margin-top: 1em; }
    .mi-spon-content { width: 90%; line-height: 1.2em; font-size: 1em; }
  }
</style>

<div class="full-body maindiv">
    <div class="mi-spon-container">
        <div class="mi-spon-title">SPONSORS</div>
        <div class="mi-spon-subtitle">WHY INVEST IN US?</div>
        <br />
        <div class="mi-spon-content">
            Over the past years Mood Indigo has had the privilege to have hosted a number of sponsors  which provided a very entertaining experience to our visitors as well as the brand. The crowd engagement, media exposure, sampling and brand building opportunities offered at Mood Indigo are unparalleled. The fest has always  been a platform for several brands to engage in unique crowd engaging activations which has proved to deliver a strong sponsor take back value.
            <br /><br />
            <bld>Link to microwebsite:</bld><br />
            <a target=_blank href="https://sponsors.moodi.org/">https://sponsors.moodi.org/</a>
        </div>
    </div>
</div>

{% endblock %}
